.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.left-section {
  background-color: lightseagreen;
  width: 250px;
}
.middle-section {
  background-color: lightgreen;
  flex: 1;
  max-width: 550px;
}
.right-section {
  background-color: lightskyblue;
  width: 300px;
}